* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#root {
  width: 100%;
  background-color: #D2D8FC; }

.container .title {
  text-align: center;
  margin: 1rem 0;
  font-size: 3em;
  color: #546C84; }

.container .menu {
  height: 20px;
  width: 100%;
  background: steelblue; }

.container .editor-preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .container .editor-preview-wrapper .editor-wrapper, .container .editor-preview-wrapper .preview-wrapper {
    border: 2px solid #04244C; }
  .container .editor-preview-wrapper .editor-wrapper {
    width: 70%;
    margin-bottom: 2.5rem; }
  .container .editor-preview-wrapper .preview-wrapper {
    width: 80%;
    margin-bottom: 3.5rem; }
  .container .editor-preview-wrapper .title-bar {
    width: 100%;
    background: #04244C;
    font-size: 1.2em;
    color: #fff;
    padding: .5rem .5rem; }
  .container .editor-preview-wrapper .editor-wrapper {
    margin-right: .1rem; }
  .container .editor-preview-wrapper #editor {
    resize: none;
    outline: none;
    border: 0;
    height: inherit;
    width: 100%;
    font-size: 1em;
    overflow-y: scroll;
    padding: 1rem;
    height: 400px;
    background-color: #2C3B5C;
    color: #fff; }
  .container .editor-preview-wrapper #preview {
    padding: 2rem;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    background-color: #CCDCDC; }

@media screen and (max-width: 768px) {
  .container .editor-preview-wrapper .editor-wrapper {
    width: 80%; }
  .container .editor-preview-wrapper .preview-wrapper {
    width: 90%; } }
