* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#root {
  width: 95%; }

.container .title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 3em;
  color: tomato; }

.container .menu {
  height: 20px;
  width: 100%;
  background: steelblue; }

.container .editor-preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }
  .container .editor-preview-wrapper .editor-wrapper, .container .editor-preview-wrapper .preview-wrapper {
    height: 80vh;
    width: 50%; }
    .container .editor-preview-wrapper .editor-wrapper .title-bar, .container .editor-preview-wrapper .preview-wrapper .title-bar {
      width: 100%;
      background: steelblue;
      font-size: 1.2em;
      color: #fff;
      padding: .5rem .5rem; }
  .container .editor-preview-wrapper .editor-wrapper {
    margin-right: .1rem; }
  .container .editor-preview-wrapper #editor {
    resize: none;
    outline: none;
    border: 0;
    height: inherit;
    width: 100%;
    font-size: 1em;
    overflow-y: scroll;
    padding: 1rem; }
  .container .editor-preview-wrapper #preview {
    padding: 1rem; }
