* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centerXY {
    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    width: 100%;
    @include centerXY;
}

#root {
    width: 95%;
}

.container {

    .title {
        text-align: center;
        margin-bottom: 1rem;
        font-size: 3em;
        color: tomato;
    }  

    .menu {
        height: 20px;
        width: 100%;
        background: steelblue;
    }

    .editor-preview-wrapper {
        @include centerXY; 

        .editor-wrapper, .preview-wrapper {
            height: 80vh;
            width: 50%;

            .title-bar {
                width: 100%;
                background: steelblue;
                font-size: 1.2em;
                color: #fff;
                padding: .5rem .5rem;
            }
        }

        .editor-wrapper {
              margin-right: .1rem;
        }

        #editor {
            resize: none;
            outline: none;
            border: 0;
            height: inherit;
            width: 100%;
            font-size: 1em;
            overflow-y: scroll;
            padding: 1rem;
        }

        #preview {
            padding: 1rem ;
        }

    }
}










